In [1]:
# importing necessay libaries
import pandas as pd
import numpy as np

In [2]:
# importing data
data = pd.read_csv("Airbnb_Data.csv",low_memory=False)
data

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

In [3]:
# creating copy of the dataset
df = data.copy()
df

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

In [4]:
# checking columns
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [5]:
# changing columns in standarize format
df.columns = df.columns.str.lower().str.replace(" ","_")

In [6]:
df.head()

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [7]:
# checking info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   name                            102349 non-null  object
 2   host_id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host_name                       102193 non-null  object
 5   neighbourhood_group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country_code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room_type                       102599 non-null  object
 14  construction_year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service_fee                     102326 non-null  object
 17  minimum_nights                  102190 non-null  float64
 18  number_of_reviews               102416 non-null  float64
 19  last_review                     86706 non-null   object
 20  reviews_per_month               86720 non-null   float64
 21  review_rate_number              102273 non-null  float64
 22  calculated_host_listings_count  102280 non-null  float64
 23  availability_365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [8]:
# checking null values in data
df.isnull().sum()

id                                     0
name                                 250
host_id                                0
host_identity_verified               289
host_name                            406
neighbourhood_group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country_code                         131
instant_bookable                     105
cancellation_policy                   76
room_type                              0
construction_year                    214
price                                247
service_fee                          273
minimum_nights                       409
number_of_reviews                    183
last_review                        15893
reviews_per_month                  15879
review_rate_number                   326
calculated_host_listings_count       319
availability_365                     448
house_rules                        52131
license                           102597
dtype: int64

In [9]:
# removing null values from name column
df.dropna(subset=['name'],axis=0,inplace=True)

In [10]:
# checking null values in name column
df['name'].isnull().sum()

np.int64(0)

In [11]:
# Checking data in host_identity_verified column
df.host_identity_verified.unique()

array(['unconfirmed', 'verified', nan], dtype=object)

In [12]:
# Replacing nan values with unconfirmed
df['host_identity_verified'] = df['host_identity_verified'].fillna('unconfirmed')

In [13]:
# checking null values in name column
df['host_identity_verified'].isnull().sum()

np.int64(0)

In [14]:
df.tail(5)

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

In [15]:
df.isnull().sum()

id                                     0
name                                   0
host_id                                0
host_identity_verified                 0
host_name                            400
neighbourhood_group                   27
neighbourhood                         16
lat                                    8
long                                   8
country                              527
country_code                         123
instant_bookable                      97
cancellation_policy                   71
room_type                              0
construction_year                    205
price                                244
service_fee                          273
minimum_nights                       403
number_of_reviews                    182
last_review                        15857
reviews_per_month                  15843
review_rate_number                   318
calculated_host_listings_count       318
availability_365                     430
house_rules                        52025
license                           102347
dtype: int64

In [16]:
# Removing null values fron host_name column
df.dropna(subset=['host_name'],axis=0,inplace=True)

In [17]:
df[df['neighbourhood_group'].isnull()]

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
74,1042206,"HARLEM, NEW YORK WELCOMES YOU!!",98195975718,unconfirmed,Violet,NaN,Washington Heights,40.83139,-73.94095,United States,...,$114,2.0,49.0,6/18/2019,1.60,2.0,2.0,NaN,The usual courtesies apply: - No smoking - No ...,NaN
75,1042759,BLUE TRIM GUEST HOUSE,4726877402,unconfirmed,Audrey,NaN,Clinton Hill,40.68346,-73.96374,United States,...,$80,2.0,105.0,6/26/2019,0.92,1.0,1.0,NaN,Shoes off please Cat can go in or out as he de...,NaN
76,1043311,Charming East Village One Bedroom Flat,74322993447,verified,Violet,NaN,East Village,40.72828,-73.98801,United States,...,$124,5.0,21.0,1/2/2019,0.20,4.0,1.0,NaN,no smoking quiet,NaN
77,1043863,Manhattan Room,11468499446,verified,Sofia,NaN,Upper East Side,40.76865,-73.95058,United States,...,$23,1.0,142.0,7/6/2019,1.50,4.0,1.0,NaN,I'm a semi kosher vegetarian which means that ...,NaN
78,1044415,Little King of Queens,68599531533,unconfirmed,Melanie,NaN,Woodside,40.75038,-73.90334,United States,...,$11,30.0,25.0,NaN,0.22,2.0,1.0,NaN,No Street Shoes allowed in House. No cooking K...,NaN
90,1051043,Cozy Bedroom in Williamsburg 3 BR,14067827221,unconfirmed,Lilianna,NaN,Williamsburg,40.71156,-73.96218,United States,...,$53,3.0,174.0,6/22/2019,1.54,5.0,4.0,NaN,Dryer and Washing Machine are in Basement (1.0...,NaN
91,1051595,Sunny room+Pvte office in huge loft,12884105458,unconfirmed,Albert,NaN,Bushwick,40.70032,-73.93830,United States,...,$146,4.0,24.0,NaN,0.28,5.0,1.0,NaN,"To enjoy, relax, feel safe and cozy. Also, kee...",NaN
92,1052148,Spacious Prospect Heights Apartment,63218812094,unconfirmed,Sarah,NaN,Prospect Heights,40.68233,-73.97261,United States,...,$117,4.0,166.0,6/27/2019,3.40,2.0,1.0,NaN,We ask that guests be respectful as there are ...,NaN
148,1083076,NYC Zen,83696952551,verified,Amelia,NaN,East Village,40.72354,-73.98295,United States,...,$119,3.0,30.0,6/17/2019,0.28,5.0,1.0,344.0,No Smoking No Pets No Parties,NaN
161,1090256,Indie-Chic Share In Williamsburg,1595619477,unconfirmed,Darcy,NaN,Williamsburg,40.71088,-73.95055,NaN,...,$204,4.0,202.0,5/28/2019,1.86,5.0,2.0,377.0,"No smoking in the apartment, even with the win...",NaN
168,1094122,Parlor Room In Victorian Townhouse,45745264571,unconfirmed,Heather,NaN,Clinton Hill,40.68843,-73.96408,United States,...,$185,149.0,294.0,6/24/2019,NaN,3.0,3.0,311.0,NaN,NaN
241,1134440,ACCOMMODATIONS GALORE #2,81849555528,verified,Richardson,NaN,East Harlem,40.80942,-73.93936,United States,...,$50,3.0,135.0,6/20/2019,1.30,1.0,3.0,109.0,I'm a semi kosher vegetarian which means that ...,NaN
249,1138859,BROWNSTONE SUNDRENCHED BEAUTY,49595827306,unconfirmed,Richardson,NaN,Bushwick,40.68800,-73.91710,United States,...,$206,3.0,111.0,NaN,2.13,NaN,1.0,150.0,Please review the terms of this rental agreeme...,NaN
262,1146039,DOMINIQUE'S NY mini efficiency* wifi*metro*quiet,73292273095,verified,Hamilton,NaN,Eastchester,40.88057,-73.83572,United States,...,$182,2.0,38.0,6/27/2019,0.50,4.0,13.0,NaN,Please do not let any of the animals outside! ...,NaN
287,1159846,**Fantastic Williamsburg Apt**,98480978167,unconfirmed,Baker,NaN,Williamsburg,40.71031,-73.95830,United States,...,$77,NaN,9.0,2/16/2019,0.11,4.0,1.0,323.0,Maximum of 2 guests staying in the studio. No...,NaN
295,1164265,Cozy Private Room in Apartment,11745797323,unconfirmed,Tucker,NaN,Harlem,40.82976,-73.94867,United States,...,$192,30.0,64.0,7/6/2018,0.68,1.0,1.0,52.0,#NAME?,NaN
319,1177520,BROOKLYN > Guest Room w/ King Bed in Williamsburg,59305845429,verified,Holmes,NaN,Williamsburg,40.71398,-73.95763,United States,...,$216,2.0,220.0,6/22/2019,2.17,3.0,2.0,361.0,NaN,NaN
361,1200716,Bienvenue,92724296556,verified,Richards,NaN,Queens Village,40.72413,-73.76133,United States,...,$134,1.0,43.0,7/8/2019,0.45,5.0,1.0,150.0,- no shoes inside - quiet after 8:30pm,NaN
384,1213419,Sun-Drenched Hamilton Hts Jewel,618609977,unconfirmed,Payne,NaN,Harlem,40.82399,-73.95328,United States,...,$217,14.0,35.0,6/1/2019,0.35,5.0,1.0,61.0,I feel very responsible and accountable for yo...,NaN
415,1230541,Truly Amazing Oasis In The City,65344662582,unconfirmed,Heather,NaN,Williamsburg,40.71363,-73.96019,United States,...,$170,3.0,150.0,7/5/2019,1.55,3.0,1.0,NaN,NaN,NaN
448,1248766,Hancock Town House!-Stuyvesant Mews,17302896128,unconfirmed,Lucia,NaN,Bedford-Stuyvesant,40.68669,-73.91989,United States,...,$200,1.0,27.0,10/8/2017,0.28,1.0,4.0,181.0,NaN,NaN
465,1258156,☆ STUDIO East Village ☆ Own bath! ☆ Sleeps 4 ☆,87134189711,unconfirmed,Alan,NaN,East Village,40.72636,-73.98917,United States,...,$103,2.0,280.0,7/5/2019,2.92,1.0,3.0,94.0,NaN,NaN
488,1270858,The Happy home!,91709093046,verified,Eddy,NaN,East Harlem,40.79320,-73.94007,United States,...,$227,2.0,15.0,2/15/2016,0.16,NaN,1.0,326.0,Please remember that this is a residential bui...,NaN
492,1273068,Large Quiet Bedroom Near Columbia U,95738430033,verified,Rebecca,NaN,Harlem,40.80518,-73.95359,United States,...,$189,5.0,43.0,1/3/2018,0.47,3.0,2.0,147.0,NaN,NaN
40383,23304867,2000 sq ft Unique Cozy Art Home with Private Room,57604959046,unconfirmed,Angeline,NaN,Bushwick,40.69085,-73.90937,United States,...,$62,1.0,0.0,NaN,NaN,4.0,1.0,269.0,NaN,NaN
40396,23312047,Large room near express trains & Central Park,22672807843,unconfirmed,Julian,NaN,Upper West Side,40.79471,-73.96918,United States,...,$35,4.0,2.0,2/22/2019,0.37,2.0,1.0,0.0,No pets. No smoking. Please :),NaN

In [18]:
# now replacing the null values from neighbourhood_group acc to the latitude and longitude
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
import time


# Initialize geolocator
geolocator = Nominatim(user_agent="geoapi")

# Function to get neighbourhood group (e.g., borough like Manhattan, Brooklyn, etc.)
def get_neighbourhood_group(lat, lon):
    try:
        location = geolocator.reverse((lat, lon), timeout=10)
        address = location.raw.get('address', {})
        # Common field that holds the borough name
        return address.get('borough') or address.get('suburb') or address.get('city_district') or 'Not Found'
    except GeocoderTimedOut:
        time.sleep(1)
        return get_neighbourhood_group(lat, lon)
    except Exception as e:
        return 'Error'

# Fill missing neighbourhood_group
df['neighbourhood_group'] = df.apply(
    lambda row: get_neighbourhood_group(row['lat'], row['long']) if pd.isna(row['neighbourhood_group']) else row['neighbourhood_group'],
    axis=1
)

In [19]:
# now again checking null values in neighbourhood_group
df['neighbourhood_group'].isnull().sum() # replaced code worked properly

np.int64(0)

In [20]:
# now removing null values from neighbourhood , lat & long column
df.dropna(subset=['neighbourhood','lat','long'],inplace = True)

In [21]:
# deleting country & country_code column as ths data is of new york only so we don't reqired country column for analysis
df.drop(['country','country_code'],axis=1,inplace=True)

In [22]:
df.isnull().sum()

id                                     0
name                                   0
host_id                                0
host_identity_verified                 0
host_name                              0
neighbourhood_group                    0
neighbourhood                          0
lat                                    0
long                                   0
instant_bookable                      94
cancellation_policy                   68
room_type                              0
construction_year                    199
price                                238
service_fee                          268
minimum_nights                       402
number_of_reviews                    182
last_review                        15776
reviews_per_month                  15762
review_rate_number                   314
calculated_host_listings_count       318
availability_365                     419
house_rules                        51859
license                           101923
dtype: int64

In [23]:
# Replacing values in instant_bookable column
df['instant_bookable'] = df['instant_bookable'].fillna("Unconfirmed")

In [24]:
df['instant_bookable'] = df['instant_bookable'].astype(str).replace({"True":"Yes","False":"No"})

In [25]:
df['instant_bookable'].isnull().sum()

np.int64(0)

In [26]:
# Replacing nan values in cancellation_policy column
df['cancellation_policy'] = df['cancellation_policy'].fillna("unknown")

In [27]:
# dropping nan values in construction_year 
df.dropna(subset=['construction_year'],inplace = True)

In [28]:
# changing type of construction_year column 
df['construction_year'] = df['construction_year'].astype(np.int16) #change to int16 to reduce memory usage

In [29]:
df.isnull().sum()

id                                     0
name                                   0
host_id                                0
host_identity_verified                 0
host_name                              0
neighbourhood_group                    0
neighbourhood                          0
lat                                    0
long                                   0
instant_bookable                       0
cancellation_policy                    0
room_type                              0
construction_year                      0
price                                234
service_fee                          262
minimum_nights                       390
number_of_reviews                    181
last_review                        15749
reviews_per_month                  15740
review_rate_number                   308
calculated_host_listings_count       316
availability_365                     406
house_rules                        51806
license                           101724
dtype: int64

In [30]:
df['price'].unique

<bound method Series.unique of 0           $966
1           $142
2           $620
4           $204
5           $577
           ...
102594      $844
102595      $837
102596      $988
102597      $546
102598    $1,032
Name: price, Length: 101726, dtype: object>

In [31]:
#removing the $ from price column 
df['price'] = df['price'].str.lstrip('$')

In [32]:
# changing the dtype of price column
df['price'] = pd.to_numeric(df['price'], errors='coerce').astype('float32')

In [33]:
# filling nan values in price column
df['price'] = df['price'].fillna(df['price'].mean()).astype('int16')

In [34]:
df['price'].isnull().sum()

np.int64(0)

In [35]:
df.sample(20)

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
14878,9218455,Brooklyn 2 Bedroom Duplex Apartment,30268502841,unconfirmed,Monzura,Brooklyn,Crown Heights,40.67386,-73.95271,Yes,...,$65,30.0,3.0,10/9/2016,0.09,1.0,1.0,297.0,Apologies if some of this seems obvious. Keep ...,NaN
56627,32276428,Beautiful King Bed Hotel Room,56409998911,unconfirmed,Justin,Manhattan,Financial District,40.70444,-74.00583,No,...,$91,1.0,59.0,1/23/2022,3.89,4.0,102.0,22.0,NaN,NaN
42782,24629835,"Astoria Spacious Room \nAll included,Great loc...",95869254698,unconfirmed,Arber,Queens,Astoria,40.76553,-73.91353,No,...,$25,2.0,0.0,NaN,NaN,4.0,1.0,0.0,This is an old house which was built in the 19...,NaN
85,1048282,Private room Great Deal at Lower East Side,15834881958,unconfirmed,Violet,Manhattan,Lower East Side,40.71140,-73.98794,Yes,...,$115,30.0,94.0,4/8/2019,0.84,3.0,1.0,NaN,- Please be careful when coming and going so n...,NaN
2461,2360546,Stuyvesant Heights Apt mins 2 City,3186487847,verified,Ryan,Brooklyn,Bedford-Stuyvesant,40.68185,-73.94108,No,...,$10,3.0,13.0,8/18/2017,0.26,1.0,2.0,68.0,NaN,NaN
75701,42810998,1 BR Gem w/ Private Patio in East Village,11601499285,unconfirmed,Fikile,Manhattan,East Village,40.72656,-73.98758,No,...,$16,2.0,16.0,6/30/2019,5.78,2.0,1.0,52.0,NaN,NaN
18157,11029447,Spacious & Clean Apartment + Patio. Close to m...,51370695249,unconfirmed,Sam And Britt,Brooklyn,Bushwick,40.69295,-73.90792,Yes,...,$141,2.0,102.0,6/29/2019,4.27,4.0,1.0,256.0,Relax and enjoy. Kitchen fully equipped. Linen...,NaN
21794,13038162,BEST LOCATION IN SOHO AND SPACIOUS APARTMENT,47041155467,unconfirmed,Alonso,Manhattan,Little Italy,40.71942,-73.99694,Yes,...,$240,1.0,67.0,1/20/2019,2.45,2.0,1.0,189.0,NaN,NaN
44549,25605749,Cosy luxury studio for sublet on upper west side,63869328248,unconfirmed,Dearna,Manhattan,Upper West Side,40.77904,-73.98786,Yes,...,$229,3.0,0.0,NaN,NaN,4.0,1.0,0.0,- No loud music after 9 pm please,NaN
42334,24382404,Stevie's,61041768099,verified,Steve,Manhattan,Washington Heights,40.84751,-73.93864,No,...,$110,2.0,1.0,4/13/2019,0.34,2.0,1.0,35.0,NaN,NaN
91041,51283280,Small Private Room for Rent,70361477729,unconfirmed,Masud,Brooklyn,Cypress Hills,40.68668,-73.87565,No,...,$16,28.0,5.0,11/20/2018,0.19,5.0,4.0,326.0,Professionally and to respect the artwork. Thi...,NaN
75542,42723183,"Don't miss this BRIGHT, SUNNY getaway in Queens",48695391592,verified,Regine,Queens,Flushing,40.76353,-73.82381,Yes,...,$102,2.0,1.0,4/22/2019,0.38,2.0,2.0,0.0,NaN,NaN
33121,19294064,Beautiful 1 Bdrm w/ Large Private Patio,251619032,verified,Emily,Brooklyn,Williamsburg,40.70901,-73.95471,No,...,$239,2.0,5.0,11/4/2018,0.39,4.0,1.0,0.0,Shoes-off home Respectful Friendly Quiet No sm...,NaN
86123,48567069,Spacious Sunny One Bed in Williamsburg,58956704922,unconfirmed,Yety,Brooklyn,Williamsburg,40.71307,-73.95502,No,...,$137,10.0,2.0,1/7/2017,0.05,4.0,2.0,205.0,No Smoking No Pets,NaN
91656,51622945,P,25355980104,verified,Amelia,Manhattan,Chelsea,40.74431,-73.99220,No,...,$180,5.0,3.0,4/12/2017,0.11,1.0,1.0,0.0,NaN,NaN
68464,38814003,2 Bed BK Duplex w/ terrace & amazing NYC view,31780909075,verified,Nicolas,Brooklyn,Greenpoint,40.73227,-73.95149,No,...,$180,3.0,20.0,6/24/2019,0.92,4.0,1.0,313.0,NaN,NaN
30176,17667541,Quarto Bronx (NY),3413336588,verified,Alvina Da Silva,Bronx,Fordham,40.86918,-73.89050,Yes,...,$212,1.0,2.0,4/5/2018,0.12,2.0,2.0,5.0,Enjoy and be respectful,NaN
12596,7958107,Bright room in Williamsburg,47235494015,verified,Cillian,Brooklyn,Williamsburg,40.71211,-73.95949,Yes,...,$60,12.0,1.0,1/1/2017,0.03,1.0,1.0,62.0,This is a very quiet building. In addition to...,NaN
76008,42980554,Luxury Apartment one block from Central Park,8015618934,unconfirmed,Aimee,Manhattan,Upper West Side,40.77718,-73.98023,Yes,...,$136,1.0,20.0,6/24/2019,0.59,5.0,1.0,81.0,House Rules The house rules are an important p...,NaN
69449,39358019,Brooklyn Heights 1brm Private Deck,2573355383,verified,Jeff,Brooklyn,Brooklyn Heights,40.69271,-73.99365,No,...,$131,4.0,5.0,5/16/2016,0.06,2.0,1.0,0.0,NaN,NaN

In [36]:
#removing the $ from service_fee column 
df['service_fee'] = df['service_fee'].str.lstrip('$')

In [37]:
# changing the dtype of service_fee column
df['service_fee'] = pd.to_numeric(df['service_fee'], errors='coerce').astype('float32')

In [38]:
# filling nan values in service_fee column
df['service_fee'] = df['service_fee'].fillna(df['service_fee'].mean()).astype('int16')

In [39]:
df[df['price']<df['service_fee']].index

Index([ 2169,  6618, 13422, 13428, 29041, 29045, 41178, 65696, 65897, 65899,
       79782, 97704, 97761],
      dtype='int64')

In [40]:
# drooping those rows in which price is less than service fee
df.drop(index=df[df['price']<df['service_fee']].index,inplace=True)

In [41]:
# now changing column names
df.rename(columns={'price':'price_in_$','service_fee':'service_fee_in_$'},inplace=True)

In [42]:
df.isnull().sum()

id                                     0
name                                   0
host_id                                0
host_identity_verified                 0
host_name                              0
neighbourhood_group                    0
neighbourhood                          0
lat                                    0
long                                   0
instant_bookable                       0
cancellation_policy                    0
room_type                              0
construction_year                      0
price_in_$                             0
service_fee_in_$                       0
minimum_nights                       390
number_of_reviews                    181
last_review                        15745
reviews_per_month                  15736
review_rate_number                   308
calculated_host_listings_count       316
availability_365                     406
house_rules                        51800
license                           101711
dtype: int64

In [43]:
# filling the nan values with mean value of the minimum_nights
df['minimum_nights'] = df['minimum_nights'].fillna(df['minimum_nights'].mean().round()).astype('int8')

In [44]:
df.sample(20)

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,...,service_fee_in_$,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
85455,48198133,SPACIOUS 2 BR APT WITH PRIVATE BACKYARD,58473987283,unconfirmed,Inna,Manhattan,East Harlem,40.78880,-73.94247,No,...,177,30,13.0,1/24/2019,0.37,1.0,16.0,137.0,#NAME?,NaN
30850,18039791,Private apartment in basement of private home,73440339855,unconfirmed,Nicole,Brooklyn,East Flatbush,40.63297,-73.93781,No,...,239,2,1.0,5/20/2018,0.07,5.0,1.0,0.0,Please remember that this is a residential bui...,NaN
22528,13443550,"Spacious Apt w Deck, Williamsburg",43237231145,verified,Charles,Brooklyn,Williamsburg,40.71004,-73.95994,No,...,50,3,26.0,6/25/2019,1.01,4.0,1.0,70.0,This is the house where I live all year around...,NaN
12985,8172952,Big Private Bedroom,27342719614,unconfirmed,Evy,Brooklyn,Williamsburg,40.70888,-73.95622,No,...,231,2,37.0,5/26/2019,0.95,3.0,2.0,39.0,NaN,NaN
31142,18201063,Room with a view,7815266113,verified,Farah,Manhattan,Upper West Side,40.77101,-73.98481,No,...,168,1,7.0,4/28/2018,0.46,4.0,1.0,0.0,NaN,NaN
102233,35603483,Bushwick Renovated Apartment,67330172177,unconfirmed,Banty,Brooklyn,Bushwick,40.69925,-73.92161,No,...,60,5,73.0,11/4/2021,1.32,3.0,3.0,65.0,NaN,NaN
7061,4901126,15 mins to Times Square + Sleeps 4,8878266295,unconfirmed,Mahesh,Manhattan,Harlem,40.82846,-73.94393,Yes,...,236,4,29.0,11/5/2018,0.55,1.0,1.0,233.0,NaN,NaN
83752,47257566,Victorian styled long townhouse in NYC,32503846951,unconfirmed,Eliasz,Bronx,Parkchester,40.83439,-73.85850,Yes,...,57,2,9.0,11/23/2018,0.47,2.0,1.0,0.0,NaN,NaN
86518,48785227,Private Room in Williamsburg,36448634262,verified,Christian,Brooklyn,Williamsburg,40.71940,-73.96262,No,...,81,3,0.0,NaN,NaN,3.0,1.0,-7.0,Please remember that this is a residential bui...,NaN
7322,5045277,Clean and Cozy in Greenpoint/W'burg,4467515492,unconfirmed,Ashia,Brooklyn,Greenpoint,40.72559,-73.95384,No,...,129,5,2.0,6/9/2015,0.04,1.0,1.0,239.0,NaN,NaN
40240,23225888,LIC Spacious Bedroom in Luxury Building,28304854510,unconfirmed,Rylan,Queens,Long Island City,40.74946,-73.93854,Yes,...,209,5,0.0,NaN,NaN,4.0,1.0,0.0,No smoking. No pets No visitors Cleaning of ro...,NaN
49448,28311466,1900s 1 Bed Rockaway Beach Bungalow-ByMTA&Beach,31135908888,verified,Elizabeth,Queens,Rockaway Beach,40.58893,-73.81347,No,...,156,1,NaN,NaN,NaN,4.0,4.0,NaN,NaN,NaN
25842,15273873,"Quiet, spacious room in hip Greenpoint apartment",35994355008,verified,Sarah,Brooklyn,Greenpoint,40.72280,-73.94538,No,...,51,1,3.0,9/30/2017,0.14,5.0,1.0,0.0,Please treat the home like it was your own. N...,NaN
57902,32980611,2 BR apt close to LGA / JFK / Midtown (2B),95244398820,verified,Rina,Queens,Woodside,40.74640,-73.89202,No,...,113,1,81.0,1/6/2022,2.36,2.0,3.0,46.0,NaN,NaN
101237,56914531,Room 14,61030381178,verified,Justine,Bronx,University Heights,40.85620,-73.90899,No,...,135,3,36.0,6/10/2019,1.26,3.0,5.0,365.0,No pets. No smoking.,NaN
79693,45015780,Lovely 1 BD on the Upper West Side,18087092998,verified,Andreas,Manhattan,Upper West Side,40.78906,-73.97732,No,...,171,1,131.0,6/24/2019,4.90,4.0,1.0,277.0,No smoking. No loud music. Please leave the p...,NaN
34343,19968975,*NO GUEST SERVICE FEE* One Bedroom Suite with ...,62705157979,unconfirmed,Red Awning,Manhattan,Midtown,40.75224,-73.96652,No,...,99,3,1.0,2/17/2019,0.21,2.0,49.0,200.0,NaN,NaN
11765,7499146,Lge Rm Middle Park Slope Brownstone,42091742528,unconfirmed,Philip,Brooklyn,Park Slope,40.67143,-73.97538,Yes,...,198,5,26.0,5/20/2019,0.59,5.0,2.0,25.0,NaN,NaN
2665,2473216,"Sunny, Bright, Vibrant Apartment in Williamsburg!",62600962126,verified,Harmon,Brooklyn,Williamsburg,40.71419,-73.95042,Yes,...,209,7,0.0,NaN,NaN,1.0,1.0,146.0,NaN,NaN
45015,25863121,Large Accessible Suite in Times Square,62617851058,verified,Manhattan At Times Square,Manhattan,Theater District,40.76251,-73.98392,No,...,134,1,0.0,NaN,NaN,5.0,15.0,292.0,NaN,NaN

In [45]:
# filling null values with 0 in number_of_reviews column
df['number_of_reviews'] = df['number_of_reviews'].fillna(0).astype(np.int16)

In [46]:
# changing the datatype of last_review column
df['last_review'] = pd.to_datetime(df['last_review'])

In [47]:
# filling reviews per month column
df['reviews_per_month'] = df['reviews_per_month'].mask(df['number_of_reviews']==0,0)

In [48]:
# changing dtype from float64 to float16 to save storage
df['reviews_per_month'] = df['reviews_per_month'].astype('float16')

In [49]:
df.isnull().sum()

id                                     0
name                                   0
host_id                                0
host_identity_verified                 0
host_name                              0
neighbourhood_group                    0
neighbourhood                          0
lat                                    0
long                                   0
instant_bookable                       0
cancellation_policy                    0
room_type                              0
construction_year                      0
price_in_$                             0
service_fee_in_$                       0
minimum_nights                         0
number_of_reviews                      0
last_review                        15745
reviews_per_month                     22
review_rate_number                   308
calculated_host_listings_count       316
availability_365                     406
house_rules                        51800
license                           101711
dtype: int64

In [50]:
# removing nan rows from reviews_per_month
df.dropna(subset = ['reviews_per_month'],inplace = True)

In [51]:
# fill nan values in review_rate_number with mean value and dtype as well to save memory storage
df['review_rate_number'] = df['review_rate_number'].fillna(df['review_rate_number'].mean().round()).astype('int8')

In [52]:
# fill nan values in calculated_host_listings_count with mean value
df['calculated_host_listings_count'] = df['calculated_host_listings_count'].fillna(df['calculated_host_listings_count'].mean().round()).astype('int8')

In [53]:
# changing days to 365 which are greater than 365 as a year cannot have more than 365 days
df.loc[df['availability_365']>365,'availability_365']=365

In [54]:
# replacing 0 in availability_365 column with mean value
df['availability_365'] = df['availability_365'].mask(df['availability_365'] == 0 , df['availability_365'].mean().round())

In [55]:
# filling nan values in availability_365 column with mean value
df['availability_365'] = df['availability_365'].fillna(df['availability_365'].mean().round()).astype('int16')

In [56]:
# dropping house_rules & license column 
df.drop(['house_rules','license'],axis=1,inplace=True)

In [57]:
# checking duplicates in dataset
df.duplicated().sum()

np.int64(539)

In [58]:
# removing duplicate rows
df.drop_duplicates(keep='first',inplace=True)

In [59]:
df.duplicated().sum()

np.int64(0)

In [60]:
# now resetting the index value
df.reset_index(drop=True,inplace=True)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101152 entries, 0 to 101151
Data columns (total 22 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              101152 non-null  int64
 1   name                            101152 non-null  object
 2   host_id                         101152 non-null  int64
 3   host_identity_verified          101152 non-null  object
 4   host_name                       101152 non-null  object
 5   neighbourhood_group             101152 non-null  object
 6   neighbourhood                   101152 non-null  object
 7   lat                             101152 non-null  float64
 8   long                            101152 non-null  float64
 9   instant_bookable                101152 non-null  object
 10  cancellation_policy             101152 non-null  object
 11  room_type                       101152 non-null  object
 12  construction_year               101152 non-null  int16
 13  price_in_$                      101152 non-null  int16
 14  service_fee_in_$                101152 non-null  int16
 15  minimum_nights                  101152 non-null  int8
 16  number_of_reviews               101152 non-null  int16
 17  last_review                     85476 non-null   datetime64[ns]
 18  reviews_per_month               101152 non-null  float16
 19  review_rate_number              101152 non-null  int8
 20  calculated_host_listings_count  101152 non-null  int8
 21  availability_365                101152 non-null  int16
dtypes: datetime64[ns](1), float16(1), float64(2), int16(5), int64(2), int8(3), object(8)
memory usage: 11.5+ MB

In [62]:
df

C:\Users\kumar\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()
C:\Users\kumar\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,...,construction_year,price_in_$,service_fee_in_$,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,No,...,2020,966,193,10,9,2021-10-19,0.209961,4,6,286
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,No,...,2007,142,28,30,45,2022-05-21,0.379883,4,2,228
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,unconfirmed,Elise,Manhattan,Harlem,40.80902,-73.94190,Yes,...,2005,620,124,3,0,NaT,0.000000,5,1,352
3,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,No,...,2009,204,41,10,9,2018-11-19,0.099976,3,1,289
4,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,Yes,...,2013,577,115,3,74,2019-06-22,0.589844,3,1,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101147,57356923,HUGE BEDROOM LORIMER L TRAIN!!!,29320426760,unconfirmed,Jose,Brooklyn,Williamsburg,40.71355,-73.95003,Yes,...,2016,570,125,28,17,2019-04-30,0.609863,1,6,229
101148,57357476,Spacious two bedrooms condo in upper Manhattan,14430571516,verified,Max,Manhattan,Inwood,40.86461,-73.92363,Yes,...,2003,665,125,2,49,2019-05-23,1.809570,1,3,147
101149,57358028,"Room in Queens, NY, near LGA.",56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,Yes,...,2022,982,196,1,239,2019-06-29,8.578125,2,2,361
101150,57363551,Sunny Brownstone Studio in BedStuy Brooklyn,11145329848,unconfirmed,Jamal,Brooklyn,Bedford-Stuyvesant,40.68221,-73.94618,No,...,2016,524,125,2,104,2019-06-12,3.689453,5,1,268
101151,57367417,Rosalee Stewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,No,...,2011,524,125,4,22,2019-06-15,0.850098,4,1,238